
#empresa:hover{
    background-color: #6699FF;
    border-radius: 24px;
}
#pasante:hover{

    background-color: #6699FF;
    border-radius: 24px;
}
#empresa,#pasante{
    border-radius: 22px;
    border: solid 1px;

}
#FormPasante,#FormEmpresa{
    border-radius: 20px;
    border: solid 1px;
}




